{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{# {% set blogData    = _Blog.getBlog() %} #}
{# {% set layout      = blogData.layout %} #}

{# {{this.registerJs("Acme.CardController();")}} #}

{# {% set templatePath = "window.Acme.templatePath = '" ~ networkData.templatePath ~ "';" %} #}
{# {{this.registerJs( templatePath )}} #}

{% set limit = 3 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}



<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? false : false %}


<main id="main" class="site-main" role="main">
    <div class="boxes boxes--2">
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1"></div>
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
    </div>


    <section class="banner banner@sm">

	    <div id="owl-thumbnails" class="owl-carousel owl-shep-theme" data-slider-id="1">
        	<img src="{{networkData.templatePath}}/static/images/vegas-splash.jpg?ver=1" class="banner__img">
        	{# <img src="{{networkData.templatePath}}/static/images/banner2.jpg?ver=10" class="banner__img">
        	<img src="{{networkData.templatePath}}/static/images/banner3.jpg?ver=10" class="banner__img"> #}
	    </div>



    	<div class="boxes boxes--1 boxes--1@sm">
	    	<div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1"></div>
	    	<div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
	    </div>

    </section>

	<section class="container content">
		<div class="row">
			<div class="col-sm-12">
	    		<h1 class="content__headline content__headline@sm">EMPOWERED TO ACHIEVE</h1>
	    		<p class="content__tagline content__tagline@md content__tagline@sm">Be the best to secure your spot to INMAN connect<br class="hidden-xs" /> in Las Vegas, thanks to News Corp Australia</p>
	    	
	    		<h3 class="content__sub-head content__sub-head@sm">TARGETS TO ACHIEVE</h3>
	    	</div>
	    </div>
		<div class="row targets targets@sm">

			<div class="col-sm-4 media target target@sm">
				<img class="media__img media__img@sm target__img" src="{{networkData.templatePath}}/static/images/growth.png">
				<div class="media__body">
					<p class="align-left target__text target__text@sm">Growth of 20% revenue year on year</p>
				</div>
			</div>

			<div class="col-sm-4 media target target@sm">
				<img class="media__img media__img@sm" src="{{networkData.templatePath}}/static/images/book.png">
				<div class="media__body">
					<p class="align-left target__text target__text@sm">︎Minimum individual agent spend of $100k in The Courier-Mail</p>
				</div>
			</div>

			<div class="col-sm-4 media target target@sm">
				<img class="media__img media__img@sm" src="{{networkData.templatePath}}/static/images/medal.png">
				<div class="media__body">
					<p class="align-left target__text target__text@sm">Top 12 Agents based on eligible criteria, to attend</p>
				</div>
			</div>

		</div>







		<div class="row index-articles index-articles@sm">
			<div class="col-sm-11">
				<div class="row">
					<div class="col-sm-offset-1 col-sm-3 no-padding">
	                   {% if articles[articleCount] %}
	                       {{this.render('partials/_single-article.twig', {
	                           article: articles[articleCount],
	                           position: articleCount + 1,
	                           imageSize: {width:301, height:300},
	                           containerClass: 'card-1__desktop card-1__tablet card-1__mobile'
	                       }) | raw}}
	                       {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
	                   {% endif %}
					</div>

					<div class="col-sm-offset-1 col-sm-3 no-padding">
						{% if articles[articleCount] %}
	                       {{this.render('partials/_single-article.twig', {
	                           article: articles[articleCount],
	                           position: articleCount + 1,
	                           imageSize: {width:301, height:300},
	                           containerClass: 'card-1__desktop card-1__tablet card-1__mobile'
	                       }) | raw}}
	                       {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
	                   {% endif %}

					</div>


					<div class="col-sm-offset-1 col-sm-3 no-padding">
						{% if articles[articleCount] %}
	                       {{this.render('partials/_single-article.twig', {
	                           article: articles[articleCount],
	                           position: articleCount + 1,
	                           imageSize: {width:301, height:300},
	                           containerClass: 'card-1__desktop card-1__tablet card-1__mobile'
	                       }) | raw}}
	                       {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
	                   {% endif %}

					</div>
				</div>
			</div>
		</div>
		
		
		{# <div class="row">
			<div class="col-sm-offset-1 col-sm-10 video connect__divider">
				<video class="video__player" poster="{{networkData.templatePath}}/static/videos/video_poster.jpg"  controls muted>
					<source src="{{networkData.templatePath}}/static/videos/show_reel_v05480.webm" 
					        type='video/webm;codecs="vp8, vorbis"'/>
					<source src="{{networkData.templatePath}}/static/videos/show_reel_v05480.mp4"
					        type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
			 	</video>
		 	</div>
		</div> #}

		<div class="row connect connect@sm">
			<div class="col-sm-offset-1 col-sm-10 connect__divider">
				<h1 class="connect__headline connect__headline@sm">Inman Connect</h1>
				<p class="connect__date connect__date@sm">JULY 23 – JULY 26, 2019</p>
				<h3 class="connect__subhead connect__subhead@sm">The secret sauce of the real estate industry!</h3>
				<p class="connect__text connect__text@md connect__text@sm">
					INMAN Connect is a week-long event bringing together more than 4,000 
					leading real estate agents and brokers, CEO’s of leading real estate 
					franchises, tech entrepreneurs and marketing executives to network, 
					make deals and explore the newest technology. It’s where the industry 
					comes to learn about, embrace and leverage the change that surrounds real estate.
				</p>
				{# <p class="connect__announce connect__announce@sm">
					The latest agenda has just been released.
					To view key sponsors and industry speakers check out the below!!
				</p>
				<p class="connect__announce connect__announce@sm">
					<a target="_blank" class="connect__agenda-link" href="https://www.inman.com/event/inman-connect-san-francisco-2018/">
						www.inman.com/event/inman-connect-san-francisco-2018
					</a>
				</p> #}

			</div>
		</div>
	</section>

        



</main><!-- .site-main -->