{# {% import "partials/quotes.twig" as quotes %} #}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set networkData  = _Network.getNetworkData() %}

{% set limit        = 1 %}

{% set articlesArr  = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles     = articlesArr.articles %}

{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev          = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


<main id="main" class="" role="main">
    <div class="boxes boxes--2">
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1"></div>
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
    </div>




    <div class="banner banner--article">
        <img class="banner__img" src="{{networkData.templatePath}}/static/images/vegas.jpg?ver=1">
        <div class="boxes boxes--1 boxes--1@sm">
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1 boxes__item--1@sm"></div>
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
        </div>
    </div>


    <div class="container leaderboard">
        
        <div class="row leaderboard-top">
            <div class="col-md-offset-1 col-sm-10">
                {% if articles[articleCount] %}
                    {% set articleContent  = _Article.get({'articleId': articles[articleCount].articleId}) %}

                    {% if articleContent | length > 0 %}
                        <h1 class="leaderboard__header">{{articleContent['title'] | raw}}</h1>
                        <div class="leaderboard-explain">
                            {{articleContent['content'] | raw}}
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>

 
 


        <div class="row">
            <div class="col-md-offset-1 col-sm-3">
                <h1 class="leaderboard__sub-header">TOP 12</h1>
            </div>
        </div>


        <div class="row u-margin-bottom-60">
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list leaderboard-list--left">
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Matt Lancashire</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Jason Adcock</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Dwight Ferguson</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Simon Caulfield</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Sarah Hackett</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Ian Cuneo</li>
                </ul>
            </div>

            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list leaderboard-list--left">
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Christine Rudolph</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Courtney Maguire</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Nicholas Given</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Deborah Evans</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Alexander Shean</li>
					<li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Hamish Bowman</li>
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list">
					<li class="leaderboard-list__item">Deb Maguire</li>
					<li class="leaderboard-list__item">Brandon Wortley</li>
					<li class="leaderboard-list__item">Oliver J.Jonker</li>
					<li class="leaderboard-list__item">Tony O'Doherty</li>
					<li class="leaderboard-list__item">Jon Finney</li>
					<li class="leaderboard-list__item">Damon Warat</li>
					<li class="leaderboard-list__item">Tom Lyne</li>
					<li class="leaderboard-list__item">Patrick Mckinnon</li>
                </ul>
            </div>
        </div>
    </div>
</main><!--site-main-->

