{# {% import "partials/quotes.twig" as quotes %} #}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set networkData  = _Network.getNetworkData() %}

{% set limit        = 1 %}

{% set articlesArr  = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles     = articlesArr.articles %}

{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev          = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


<main id="main" class="" role="main">
    <div class="boxes boxes--2">
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1"></div>
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
    </div>




    <div class="banner banner--article">
        <img class="banner__img" src="{{networkData.templatePath}}/static/images/vegas.jpg?ver=1">
        <div class="boxes boxes--1 boxes--1@sm">
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1 boxes__item--1@sm"></div>
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
        </div>
    </div>


    <div class="container leaderboard">
        
        <div class="row leaderboard-top">
            <div class="col-md-offset-1 col-sm-10">
                {% if articles[articleCount] %}
                    {% set articleContent  = _Article.get({'articleId': articles[articleCount].articleId}) %}

                    {% if articleContent | length > 0 %}
                        <h1 class="leaderboard__header">{{articleContent['title'] | raw}}</h1>
                        <div class="leaderboard-explain">
                            {{articleContent['content'] | raw}}
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>

 
 


        <div class="row">
            <div class="col-md-offset-1 col-sm-3">
                <h1 class="leaderboard__sub-header">TOP 12</h1>
            </div>
        </div>


        <div class="row u-margin-bottom-60">
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list leaderboard-list--left">
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Matt Lancashire</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Dwight Ferguson</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Jason Adcock</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Sarah Hackett</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Ian Cuneo</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Simon Caulfield</li>
                </ul>
            </div>

            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list leaderboard-list--left">
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Nicholas Given</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Deborah Evans</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Alexander Shean</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Oliver J. Jonker</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Christine Rudolph</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Courtney Maguire</li>

                </ul>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list">
                    <li class="leaderboard-list__item">Tom Lyne</li>
                    <li class="leaderboard-list__item">Hamish Bowman</li>
                    <li class="leaderboard-list__item">Ann-karyn Fraser</li>
                    <li class="leaderboard-list__item">Jon Finney</li>
                    <li class="leaderboard-list__item">Ben White</li>
                    <li class="leaderboard-list__item">Deb Maguire</li>
                    <li class="leaderboard-list__item">Brandon Wortley</li>
                    <li class="leaderboard-list__item">David Price</li>
                    <li class="leaderboard-list__item">Phillip Harrigan</li>
                    <li class="leaderboard-list__item">Patrick Mckinnon</li>
                    <li class="leaderboard-list__item">Damon Warat</li>
                    <li class="leaderboard-list__item">Alma Clark</li>
                    <li class="leaderboard-list__item">Peter Florentzos</li>
                    <li class="leaderboard-list__item">Marion Sheerman</li>
                    <li class="leaderboard-list__item">Kel Goesch</li>
                    <li class="leaderboard-list__item">David Treloar</li>
                    <li class="leaderboard-list__item">Andrew Degn</li>
                    <li class="leaderboard-list__item">Owen Chen</li>
                    <li class="leaderboard-list__item">Michael Clarke</li>
                    <li class="leaderboard-list__item">Andrew Garland</li>
                    <li class="leaderboard-list__item">Mathew Abboud</li>
                    <li class="leaderboard-list__item">Leigh Kortlang</li>
                    <li class="leaderboard-list__item">Glynis Austin</li>
                    <li class="leaderboard-list__item">Luke Batchelor</li>
                    <li class="leaderboard-list__item">Jez McNamara</li>
                    <li class="leaderboard-list__item">Josh Brown</li>
                    <li class="leaderboard-list__item">Ben Smith</li>
                    <li class="leaderboard-list__item">Scott Hay</li>

                </ul>

            </div>



        </div>

        {# <div class="row">
            <div class="col-md-offset-1 col-sm-6 col-md-4">
                <img style="width:100%;" class="u-mobile-margin-top-40" src="{{networkData.templatePath}}/static/images/winners-img-8484.jpg" />
                <img style="width:100%;" class="u-margin-top-40" src="{{networkData.templatePath}}/static/images/winners-img-8489.jpg" />
            </div>

            <div class="col-sm-4 col-sm-6 col-md-4">
                <img style="width:100%;" class="u-mobile-margin-top-40" src="{{networkData.templatePath}}/static/images/winners-img-8493.jpg" />
                <img style="width:100%;" class="u-margin-top-40"  src="{{networkData.templatePath}}/static/images/winners-img-8495.jpg" />
            </div>

        </div> #}

    </div>
</main><!--site-main-->

