{# {% import "partials/quotes.twig" as quotes %} #}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}

{% set networkData  = _Network.getNetworkData() %}

{% set limit        = 1 %}

{% set articlesArr  = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles     = articlesArr.articles %}

{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev          = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}


<main id="main" class="" role="main">
    <div class="boxes boxes--2">
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1"></div>
        <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
    </div>




    <div class="banner banner--article">
        <img class="banner__img" src="{{networkData.templatePath}}/static/images/leaderboard-banner.jpg">
        <div class="boxes boxes--1 boxes--1@sm">
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--1 boxes__item--1@sm"></div>
            <div class="boxes__item boxes__item@md boxes__item@sm boxes__item--2"></div>
        </div>
    </div>


    <div class="container leaderboard">
        
        <div class="row leaderboard-top">
            <div class="col-md-offset-1 col-sm-10">
                {% if articles[articleCount] %}
                    {% set articleContent  = _Article.get({'articleId': articles[articleCount].articleId}) %}

                    {% if articleContent | length > 0 %}
                        <h1 class="leaderboard__header">{{articleContent['title'] | raw}}</h1>
                        <div class="leaderboard-explain">
                            {{articleContent['content'] | raw}}
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>

 
 


        <div class="row">
            <div class="col-md-offset-1 col-sm-3">
                <h1 class="leaderboard__sub-header">TOP 10</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list leaderboard-list--left">
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Matt Lancashire</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Hamish Bowman</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left leaderboard-list__item--gold">Dwight Ferguson</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Scott Darwon</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Luke Croft</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Damon Lewis</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Sarah Hackett</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Damon Warat</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Tom Lyne</li>
                    <li class="leaderboard-list__item leaderboard-list__item--left">Christine Rudolph</li>

                </ul>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <ul class="leaderboard-list">
                    <li class="leaderboard-list__item">Courtney Maguire</li>
                    <li class="leaderboard-list__item">Tyson Clarke</li>
                    <li class="leaderboard-list__item">Joseph Lordi</li>
                    <li class="leaderboard-list__item">Barry Quinn</li>
                    <li class="leaderboard-list__item">Drew Davies</li>
                    <li class="leaderboard-list__item">Phillip Harrigan</li>
                    <li class="leaderboard-list__item">Tony O'Doherty</li>
                    <li class="leaderboard-list__item">Matthew Foote</li>
                    <li class="leaderboard-list__item">Ben White</li>
                    <li class="leaderboard-list__item">Michael Spork</li>
                    <li class="leaderboard-list__item">Jez McNamara</li>
                    <li class="leaderboard-list__item">Nicholas Given</li>
                    <li class="leaderboard-list__item">Deborah Evans</li>
                    <li class="leaderboard-list__item">Sonya Treloar</li>
                    <li class="leaderboard-list__item">Ann-karyn Fraser</li>

                </ul>

            </div>
            <div class="col-md-3">
                <ul class="leaderboard-list">
                    <li class="leaderboard-list__item">Patrick McKinnon</li>
                    <li class="leaderboard-list__item">Simon Caulfield</li>
                    <li class="leaderboard-list__item">Alexander Shean</li>
                    <li class="leaderboard-list__item">Andrew Goodall</li>
                    <li class="leaderboard-list__item">Ian Cuneo</li>
                    <li class="leaderboard-list__item">Alison Hewett</li>
                    <li class="leaderboard-list__item">Oliver J. Jonker</li>
                    <li class="leaderboard-list__item">Steven Gow</li>
                    <li class="leaderboard-list__item">Mathew Abboud</li>
                    <li class="leaderboard-list__item">Annette Richards</li>
                    <li class="leaderboard-list__item">Sam Mayes</li>
                    <li class="leaderboard-list__item">Rosemary Ahearn</li>
                    <li class="leaderboard-list__item">Graeme Sharp</li>
                    <li class="leaderboard-list__item">Andrew Garland</li>
                    <li class="leaderboard-list__item">Max Hadgelias</li>
                </ul>

            </div>
        </div>


    </div>
</main><!--site-main-->

